@mixin skeu($anguloX, $anguloY) {
    transform: skew($anguloX, $anguloY);
    &>* {
        transform: skew(-$anguloX, -$anguloY);
    }
}

@mixin grid($col, $span) {
    width: calc((100% - $col - 1)/$col*$span);
}