footer {
    background: #6C6C6C;
    text-align: center;
    padding: 3rem;

    a {
        color: black;
        text-decoration: none;
    }

    article {
        padding: 1rem;
    }
}

.coberturas {
    text-align: left;
}